In [1]:
import pandas as pd
import numpy as np

<h1 align="center">Data Wrangling: Import and Cleaning(2013)</h1>

In [2]:
path = r'C:\Users\Ivan\Desktop\tourism_analysis\data\2012\ukupno_2012.xls'

<h3>Table 1: Tourists by Accommodation Type</h3>

In [26]:
df = pd.read_excel(path, sheet_name='Sheet3', header=7)

df.rename(columns={
    df.columns[0]: 'tip_smjestaja',
    df.columns[1]: 'dolasci_stranih_turista',
    df.columns[2]: 'dolasci_domacih_turista',
    df.columns[4]: 'nocenje_stranih_turista',
    df.columns[5]: 'nocenje_domacih_turista'},
    inplace=True)
#dropping unnecessary columns
df.drop(
columns=[
    df.columns[3],
    df.columns[6],
    df.columns[7],
],
inplace=True)

df= df[~df['tip_smjestaja'].isnull()]
df = df.reset_index(drop=True)
df = df.fillna(0)
df = df.replace('-', 0)
df.iloc[:, 1:] = df.iloc[:, 1:].applymap(lambda x: x.replace(' ', '') if type(x) == str else x).astype('int')

In [27]:
tourists_by_acc_2012 = df.copy()
tourists_by_acc_2012 = tourists_by_acc_2012.drop(tourists_by_acc_2012.index[13:], axis=0)
tourists_by_acc_2012.head()

,tip_smjestaja,dolasci_stranih_turista,dolasci_domacih_turista,nocenje_stranih_turista,nocenje_domacih_turista
0,Hoteli,453115,70256,2058011,232478
1,Apart hoteli,9098,197,55140,660
2,Pansioni,7307,464,56223,3476
3,Moteli,681,627,1036,810
4,Turistička naselja,62819,2842,395712,13309

In [28]:
tourists_by_acc_2012.to_csv(fr'C:\Users\Ivan\Desktop\tourism_analysis\data\cleaned_data\final_data_accomodation\tourists_by_accomodation_2012.csv')

<h3>Table 2: Tourists by Municipality</h3>

In [5]:
df = pd.read_excel(path, sheet_name='Sheet5', header=4)
df.rename(columns={
        df.columns[0]: 'opstina',
        df.columns[1]: 'dolasci_stranih_turista',
        df.columns[2]: 'dolasci_domacih_turista',
        df.columns[5]: 'nocenje_stranih_turista',
        df.columns[6]: 'nocenje_domacih_turista'},
        inplace=True
)
df.drop(labels=0, inplace=True)
df.drop(columns=[df.columns[3], df.columns[4], df.columns[7], df.columns[8]],
        inplace=True)
df.iloc[:, 1:] = df.iloc[:, 1:].applymap(lambda x: x.replace(' ', '') if type(x)==str else x).astype('int')

In [6]:
tourists_by_mun_2012 = df.copy()
tourists_by_mun_2012.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20 entries, 1 to 20
Data columns (total 5 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   opstina                  20 non-null     object
 1   dolasci_stranih_turista  20 non-null     object
 2   dolasci_domacih_turista  20 non-null     object
 3   nocenje_stranih_turista  20 non-null     object
 4   nocenje_domacih_turista  20 non-null     object
dtypes: object(5)
memory usage: 932.0+ bytes

In [13]:
 tourists_by_mun_2012.to_csv(fr'C:\Users\Ivan\Desktop\tourism_analysis\data\cleaned_data\final_data_municipality\tourists_by_municipality_2012.csv', index=False)

<h3>Table 3: Tourists by Country</h3>

In [7]:
df = pd.read_excel(path, sheet_name='Sheet4', header=3)

In [8]:
df.rename(columns={
    df.columns[0]: 'zemlja_porijekla', 
    df.columns[1]: 'dolasci',
    df.columns[3]:'nocenja',},
    inplace= True)
    
df.drop(columns=[df.columns[2], df.columns[4]],
        inplace=True)
    
filt = (~df['zemlja_porijekla'].isin(['Strani turisti', 'Evropa', 'Vanevropske zemlje']))
df = df[filt]
df = df.reset_index(drop=True)
df[['dolasci', 'nocenja']] = df[['dolasci', 'nocenja']].applymap(lambda x: x.replace(' ', '') if type(x)==str else x).astype('int')

In [15]:
tourists_by_country_2012 = df.copy()
tourists_by_country_2012['dolasci'].sum()

1264163

In [11]:
tourists_by_country_2012.to_csv('C:/Users/Ivan/Desktop/tourism_analysis/data/cleaned_data/final_data_country/tourists_by_country_2012.csv')