In [1]:
import numpy as np
import pandas as pd

Prva tabela:

In [2]:
file_paths = {
    '2022': r'C:\Users\Ivan\Desktop\tourism_analysis\data\2017-2022\2022\ukupno_2022.xlsx',
    '2021': r'C:\Users\Ivan\Desktop\tourism_analysis\data\2017-2022\2021\ukupno_2021.xlsx',
    '2020': r'C:\Users\Ivan\Desktop\tourism_analysis\data\2017-2022\2020\ukupno_2020.xlsx',
    '2019': r'C:\Users\Ivan\Desktop\tourism_analysis\data\2017-2022\2019\ukupno_2019.xls',
    '2018': r'C:\Users\Ivan\Desktop\tourism_analysis\data\2017-2022\2018\ukupno_2018.xls',
    '2017': r'C:\Users\Ivan\Desktop\tourism_analysis\data\2017-2022\2017\ukupno_2017.xls'
}

In [54]:
tourists_by_acc_dict = {}
for year, path in file_paths.items():
    tourists_by_acc_dict[f'tourists_by_accomodation_{year}'] = pd.read_excel(path, sheet_name='Sheet1', header=6)

In [55]:
for year, df in tourists_by_acc_dict.items():
    #renaming columns
    df.rename(columns={
        df.columns[0]: 'tip_smjestaja',
        df.columns[1]: 'dolasci_stranih_turista',
        df.columns[2]: 'dolasci_domacih_turista',
        df.columns[4]: 'nocenje_stranih_turista',
        df.columns[5]: 'nocenje_domacih_turista'},
        inplace=True)
    #dropping unnecessary columns
    df.drop(
    columns=[
        df.columns[3],
        df.columns[6],
    ],
    inplace=True)
    
    #removing null rows and converting float to int
    tourists_by_acc_dict[year] = df[~df['tip_smjestaja'].isnull()]
    tourists_by_acc_dict[year] = tourists_by_acc_dict[year].reset_index(drop=True)
    tourists_by_acc_dict[year] = tourists_by_acc_dict[year].fillna(0)
    tourists_by_acc_dict[year] = tourists_by_acc_dict[year].replace('-', 0)
    

for year, df in tourists_by_acc_dict.items():
    df.iloc[:, 1:] = df.iloc[:, 1:].apply(lambda x: x.astype('int') if x.dtype == 'float' else x)

C:\Users\Ivan\AppData\Local\Temp\ipykernel_11436\472455009.py:26: FutureWarning: In a future version, `df.iloc[:, i] = newvals` will attempt to set the values inplace instead of always setting a new array. To retain the old behavior, use either `df[df.columns[i]] = newvals` or, if columns are non-unique, `df.isetitem(i, newvals)`
  df.iloc[:, 1:] = df.iloc[:, 1:].apply(lambda x: x.astype('int') if x.dtype == 'float' else x)

In [57]:
for year, df in tourists_by_acc_dict.items():
    df.to_csv(fr'C:\Users\Ivan\Desktop\tourism_analysis\data\cleaned_data\final_data_accomodation\{year}.csv', index=False)

In [59]:
for year, df in tourists_by_acc_dict.items():
    print(year, df['dolasci_stranih_turista'].sum())

tourists_by_accomodation_2022 2036403
tourists_by_accomodation_2021 1553558
tourists_by_accomodation_2020 350795
tourists_by_accomodation_2019 2509625
tourists_by_accomodation_2018 2076803
tourists_by_accomodation_2017 1877212

Druga tabela:

In [46]:
tourists_by_mun_dict = {}
for year, path in file_paths.items():
    tourists_by_mun_dict[f'tourists_by_municipality_{year}'] = pd.read_excel(path, sheet_name='Sheet2', header=3)

In [47]:
for year, df in tourists_by_mun_dict.items():
    df.rename(columns={
            df.columns[0]: 'opstina',
            df.columns[1]: 'dolasci_stranih_turista',
            df.columns[2]: 'dolasci_domacih_turista',
            df.columns[5]: 'nocenje_stranih_turista',
            df.columns[6]: 'nocenje_domacih_turista'},
            inplace=True
    )
    df.drop(labels=0, inplace=True)
    df.drop(columns=[df.columns[3], df.columns[4], df.columns[7], df.columns[8]],
            inplace=True)
    tourists_by_mun_dict[year] = tourists_by_mun_dict[year].fillna(0)
    tourists_by_mun_dict[year] = tourists_by_mun_dict[year].replace('-', 0)
for year, df in tourists_by_mun_dict.items():
    df.iloc[:, 1:] = df.iloc[:, 1:].apply(lambda x: x.astype('int') if x.dtype == 'float' else x)

C:\Users\Ivan\AppData\Local\Temp\ipykernel_11436\3664091703.py:16: FutureWarning: In a future version, `df.iloc[:, i] = newvals` will attempt to set the values inplace instead of always setting a new array. To retain the old behavior, use either `df[df.columns[i]] = newvals` or, if columns are non-unique, `df.isetitem(i, newvals)`
  df.iloc[:, 1:] = df.iloc[:, 1:].apply(lambda x: x.astype('int') if x.dtype == 'float' else x)

In [50]:
tourists_by_mun_dict['tourists_by_municipality_2021']

,opstina,dolasci_stranih_turista,dolasci_domacih_turista,nocenje_stranih_turista,nocenje_domacih_turista
1,Andrijevica,404,119,2097,468
2,Bar,145416,6999,1333030,27611
3,Berane,1890,1955,3193,2645
4,Bijelo Polje,3227,1116,12923,1944
5,Budva,522934,33613,2688528,105605
6,Cetinje,3529,3714,20895,12302
7,Danilovgrad,2113,129,24338,793
8,Gusinje,511,26,2159,66
9,Herceg Novi,238544,15130,2062831,131733
10,Kolašin,18083,11425,38096,29297
11,Kotor,129194,3848,669394,11334
12,Mojkovac,1660,232,3849,495
13,Nikšić,6173,1653,12586,3938
14,Petnjica,66,0,80,0
15,Plav,595,11,8909,97
16,Pljevlja,2678,2479,9819,9734
17,Plužine,940,179,1359,1653
18,Podgorica,83674,12049,169678,26934
19,Rožaje,876,147,11356,570
20,Šavnik,336,8,3344,65
21,Tivat,104253,4728,966322,15674
22,Tuzi,11,0,11,0
23,Ulcinj,260404,8739,1297125,39519
24,Žabljak,26047,9022,81881,26293

In [51]:
for year, df in tourists_by_mun_dict.items():
    df.to_csv(fr'C:\Users\Ivan\Desktop\tourism_analysis\data\cleaned_data\final_data_municipality\{year}.csv', index=False)

Treca Tabela:

In [9]:
tourists_by_country_dict = {}
for year, path in file_paths.items():
    tourists_by_country_dict[f'tourists_by_country_{year}'] = pd.read_excel(path, sheet_name='Sheet3', header=1)

In [10]:
for year, df in tourists_by_country_dict.items():
    df.rename(columns={
        df.columns[0]: 'zemlja_porijekla', 
        df.columns[1]: 'dolasci',
        df.columns[3]:'nocenja',},
        inplace= True)
    
    df.drop(columns=[df.columns[2], df.columns[4]],
            inplace=True)
    
    filt = (~df['zemlja_porijekla'].isin(['Strani turisti', 'Evropa', 'Vanevropske zemlje']))
    tourists_by_country_dict[year] = df[filt]
    tourists_by_country_dict[year] = tourists_by_country_dict[year].reset_index(drop=True)

In [11]:
tourists_by_country_dict['tourists_by_country_2022'].tail()

              zemlja_porijekla  dolasci  nocenja
56  Ujedinjeni Arapski Emirati     2302     6183
57       Ostale azijske zemlje    27486   124100
58                  Australija     6902    32521
59                 Novi Zeland     1528     8519
60      Ostale zemlje Okeanije     3819    11510

In [12]:
for year, df in tourists_by_country_dict.items():
    df.to_csv(fr'C:\Users\Ivan\Desktop\tourism_analysis\data\cleaned_data\final_data_country\{year}.csv', index=False)

In [60]:
for year, df in tourists_by_country_dict.items():
    print(year, df['dolasci'].sum())

tourists_by_country_2022 2036403
tourists_by_country_2021 1553558
tourists_by_country_2020 350795
tourists_by_country_2019 2509625
tourists_by_country_2018 2076803
tourists_by_country_2017 1877212