In [1]:
import pandas as pd
import numpy as np

<h1 align="center">Data Wrangling: Import and Cleaning(2013)</h1>

In [2]:
path = r'C:\Users\Ivan\Desktop\tourism_analysis\data\2013\ukupno_2013.xls'

<h3>Table 1: Tourists by Accommodation Type</h3>

In [21]:
df = pd.read_excel(path, sheet_name='Sheet3', header=7)

df.rename(columns={
    df.columns[0]: 'tip_smjestaja',
    df.columns[1]: 'dolasci_stranih_turista',
    df.columns[2]: 'dolasci_domacih_turista',
    df.columns[4]: 'nocenje_stranih_turista',
    df.columns[5]: 'nocenje_domacih_turista'},
    inplace=True)
#dropping unnecessary columns
df.drop(
columns=[
    df.columns[3],
    df.columns[6],
    df.columns[7],
],
inplace=True)

df= df[~df['tip_smjestaja'].isnull()]
df = df.reset_index(drop=True)
df = df.fillna(0)
df = df.replace('-', 0)
df.iloc[:, 1:] = df.iloc[:, 1:].applymap(lambda x: x.replace(' ', '') if type(x) == str else x).astype('int')

In [22]:
tourists_by_acc_2013 = df.copy()
tourists_by_acc_2013 = tourists_by_acc_2013.drop(tourists_by_acc_2013.index[12:], axis=0)
tourists_by_acc_2013

,tip_smjestaja,dolasci_stranih_turista,dolasci_domacih_turista,nocenje_stranih_turista,nocenje_domacih_turista
0,Hoteli,496455,64933,2226395,219611
1,Apart hoteli,9337,260,58220,903
2,Pansioni,7188,637,54933,3982
3,Moteli,341,281,522,479
4,Turistička naselja,67990,2525,444063,11713
5,Turistički apartmani,442,141,1484,456
6,Gostionice,86,0,454,0
7,Lječilište,7702,7334,91118,107296
8,Odmarališta,15067,5453,111563,36738
9,Kampovi,5731,352,21153,747
10,Prenoćišta (hosteli),1336,510,1908,3570
11,Individualni turistički smještaj,712728,85177,5402402,612233

In [23]:
tourists_by_acc_2013.to_csv(fr'C:\Users\Ivan\Desktop\tourism_analysis\data\cleaned_data\final_data_accomodation\tourists_by_accomodation_2013.csv')

<h3>Table 2: Tourists by Municipality</h3>

In [5]:
df = pd.read_excel(path, sheet_name='Sheet5', header=4)
df.rename(columns={
        df.columns[0]: 'opstina',
        df.columns[1]: 'dolasci_stranih_turista',
        df.columns[2]: 'dolasci_domacih_turista',
        df.columns[5]: 'nocenje_stranih_turista',
        df.columns[6]: 'nocenje_domacih_turista'},
        inplace=True
)
df.drop(labels=0, inplace=True)
df.drop(columns=[df.columns[3], df.columns[4], df.columns[7], df.columns[8]],
        inplace=True)
df.iloc[:, 1:] = df.iloc[:, 1:].applymap(lambda x: x.replace(' ', '') if type(x)==str else x).astype('int')

In [6]:
tourists_by_mun_2013 = df.copy()
tourists_by_mun_2013.head()

,opstina,dolasci_stranih_turista,dolasci_domacih_turista,nocenje_stranih_turista,nocenje_domacih_turista
1,Andrijevica,238,93,285,119
2,Bar,154171,11287,1203442,55058
3,Berane,1216,893,1610,1245
4,Bijelo Polje,1538,1331,2216,1746
5,Budva,668931,59510,4146313,322600

In [12]:
 tourists_by_mun_2013.to_csv(fr'C:\Users\Ivan\Desktop\tourism_analysis\data\cleaned_data\final_data_municipality\tourists_by_municipality_2013.csv', index=False)

<h3>Table 3: Tourists by Country</h3>

In [7]:
df = pd.read_excel(path, sheet_name='Sheet4', header=3)

In [8]:
df.rename(columns={
    df.columns[0]: 'zemlja_porijekla', 
    df.columns[1]: 'dolasci',
    df.columns[3]:'nocenja',},
    inplace= True)
    
df.drop(columns=[df.columns[2], df.columns[4]],
        inplace=True)
    
filt = (~df['zemlja_porijekla'].isin(['Strani turisti', 'Evropa', 'Vanevropske zemlje']))
df = df[filt]
df = df.reset_index(drop=True)
df[['dolasci', 'nocenja']] = df[['dolasci', 'nocenja']].applymap(lambda x: x.replace(' ', '') if type(x)==str else x).astype('int')

In [9]:
tourists_by_country_2013 = df.copy()
tourists_by_country_2013.head()

      zemlja_porijekla  dolasci  nocenja
0             Albanija    25971   104310
1             Austrija    16889    75394
2              Belgija     8169    39252
3          Bjelorusija    20734   135989
4  Bosna i Hercegovina    91453   631588

In [11]:
tourists_by_country_2013.to_csv('C:/Users/Ivan/Desktop/tourism_analysis/data/cleaned_data/final_data_country/tourists_by_country_2013.csv')