In [1]:
import pandas as pd
import numpy as np

<h1 align="center">Data Wrangling: Import and Cleaning(2015)</h1>

In [2]:
file_paths = {
    'jan': r'C:\Users\Ivan\Desktop\tourism_analysis\data\2015\januar_2015.xls',
    'feb': r'C:\Users\Ivan\Desktop\tourism_analysis\data\2015\februar_2015.xls',
    'mar': r'C:\Users\Ivan\Desktop\tourism_analysis\data\2015\mart_2015.xls',
    'apr': r'C:\Users\Ivan\Desktop\tourism_analysis\data\2015\april_2015.xls',
    'maj': r'C:\Users\Ivan\Desktop\tourism_analysis\data\2015\maj_2015.xls',
    'jun': r'C:\Users\Ivan\Desktop\tourism_analysis\data\2015\jun_2015.xls',
    'jul': r'C:\Users\Ivan\Desktop\tourism_analysis\data\2015\jul_2015.xls',
    'avg': r'C:\Users\Ivan\Desktop\tourism_analysis\data\2015\avgust_2015.xls',
    'sep': r'C:\Users\Ivan\Desktop\tourism_analysis\data\2015\septembar_2015.xls',
    'okt': r'C:\Users\Ivan\Desktop\tourism_analysis\data\2015\oktobar_2015.xls',
    'nov': r'C:\Users\Ivan\Desktop\tourism_analysis\data\2015\novembar_2015.xls',
    'dec': r'C:\Users\Ivan\Desktop\tourism_analysis\data\2015\decembar_2015.xls'
}

<h3>Table 1: Tourists by Accommodation Type</h3> <br>

The code defines a dictionary `file_paths`| that contains file paths for monthly tourism data in 2015. It then reads the data from each file, cleans and prepares the data by renaming columns, dropping unnecessary columns, and re-categorizing accommodation types. The cleaned data is stored in a dictionary `tourists_by_acc_dict`, where the key is the month abbreviation and the value is a pandas DataFrame containing the cleaned data for that month. Finally, the code concatenates the DataFrames for all months except January and sums the number of tourists by accommodation type to create a summary DataFrame `tourists_by_acc_2015`.

In [29]:
tourists_by_acc_dict = {}
for month, path in file_paths.items():
    tourists_by_acc_dict[f'{month}'] = pd.read_excel(path, sheet_name='Sheet7', header=4, nrows=2)
    
for year, df in tourists_by_acc_dict.items():
    df.rename(columns={
            df.columns[0]: 'tip_smjestaja',
            df.columns[1]: 'dolasci_turista'},
            inplace=True
    )
    df.drop(columns=[df.columns[2], df.columns[3]],
            inplace=True)
    filt = df['tip_smjestaja'].str.contains('Kolektivni')
    filt1 = df['tip_smjestaja'].str.contains('Privatni')
    df.loc[filt, 'tip_smjestaja'] = 'Kolektivni smještaj'
    df.loc[filt1, 'tip_smjestaja'] = 'Individualni turistički smještaj'
print(df)

                      tip_smjestaja  dolasci_turista
0               Kolektivni smještaj            20578
1  Individualni turistički smještaj             3741

In [30]:
df1 = tourists_by_acc_dict['jan'].copy()
for key in file_paths:
    if key != 'jan':
        df1 = pd.concat([df1, tourists_by_acc_dict[key]], ignore_index=True).groupby('tip_smjestaja', as_index=False).sum()
tourists_by_acc_2015 = df1.copy()
tourists_by_acc_2015

                      tip_smjestaja  dolasci_turista
0  Individualni turistički smještaj           979259
1               Kolektivni smještaj           733850

In [31]:
tourists_by_acc_dict = {}
for month, path in file_paths.items():
    tourists_by_acc_dict[f'{month}'] = pd.read_excel(path, sheet_name='Sheet8', header=4, nrows=2)
    
for year, df in tourists_by_acc_dict.items():
    df.rename(columns={
            df.columns[0]: 'tip_smjestaja',
            df.columns[1]: 'nocenje_turista'},
            inplace=True
    )
    df.drop(columns=[df.columns[2], df.columns[3]],
            inplace=True)
    filt = df['tip_smjestaja'].str.contains('Kolektivni')
    filt1 = df['tip_smjestaja'].str.contains('Privatni')
    df.loc[filt, 'tip_smjestaja'] = 'Kolektivni smještaj'
    df.loc[filt1, 'tip_smjestaja'] = 'Individualni turistički smještaj'

In [32]:
df1 = tourists_by_acc_dict['jan'].copy()
for key in file_paths:
    if key != 'jan':
        df1 = pd.concat([df1, tourists_by_acc_dict[key]], ignore_index=True).groupby('tip_smjestaja', as_index=False).sum()

tourists_by_acc_2015 = pd.concat([tourists_by_acc_2015, df1], ignore_index=True).groupby('tip_smjestaja', as_index=False).sum()
tourists_by_acc_2015[['dolasci_turista', 'nocenje_turista']] = tourists_by_acc_2015[['dolasci_turista', 'nocenje_turista']].astype('int')

In [34]:
tourists_by_acc_2015.to_csv(fr'C:\Users\Ivan\Desktop\tourism_analysis\data\cleaned_data\final_data_accomodation\tourists_by_accomodation_2015.csv')

<h3>Table 2: Tourists by Municipality</h3><br>

The code provided reads data from multiple Excel sheets and combines them into a single dataframe. It then performs data cleaning operations such as renaming columns, dropping unnecessary columns, filling missing values, and replacing dashes with zeros. Finally, it creates a new dataframe and saves it as a CSV file. The resulting dataframe contains information about the number of foreign and domestic tourists and their overnight stays in various municipalities in Montenegro in `2015`.

In [8]:
tourists_by_mun_dict = {}
for month, path in file_paths.items():
    tourists_by_mun_dict[f'{month}'] = pd.read_excel(path, sheet_name='Sheet4', header=3)

for month, df in tourists_by_mun_dict.items():
    df.rename(columns={
            df.columns[0]: 'opstina',
            df.columns[1]: 'dolasci_stranih_turista',
            df.columns[2]: 'dolasci_domacih_turista',
            df.columns[5]: 'nocenje_stranih_turista',
            df.columns[6]: 'nocenje_domacih_turista'},
            inplace=True
    )
    df.drop(labels=0, inplace=True)
    df.drop(columns=[df.columns[3], df.columns[4], df.columns[7], df.columns[8]],
            inplace=True)
    tourists_by_mun_dict[month] = tourists_by_mun_dict[month].fillna(0)
    tourists_by_mun_dict[month] = tourists_by_mun_dict[month].replace('-', 0)

In [9]:
df1 = tourists_by_mun_dict['jan'].copy()
for key in file_paths:
    if key != 'jan':
        df1 = pd.concat([df1, tourists_by_mun_dict[key]], ignore_index=True).groupby('opstina', as_index=False).sum()
tourists_by_municipality_2015 = df1.copy()
tourists_by_municipality_2015.head()

,opstina,dolasci_stranih_turista,dolasci_domacih_turista,nocenje_stranih_turista,nocenje_domacih_turista
0,Andrijevica,33,139,37,209
1,Bar,173320,10096,1494031,38565
2,Berane,1074,920,1503,1249
3,Bijelo Polje,2028,3191,3567,5803
4,Budva,704608,66998,4527724,360217

In [16]:
  tourists_by_municipality_2015.to_csv(fr'C:\Users\Ivan\Desktop\tourism_analysis\data\cleaned_data\final_data_municipality\tourists_by_municipality_2015.csv', index=False)

<h3>Table 3: Tourists by Country</h3><br>
This code creates a dictionary of DataFrames with information about tourists by country for each month, from multiple Excel files. The code performs some data cleaning on each DataFrame, including renaming columns, dropping unnecessary columns, removing rows for certain countries, filling in missing values, and replacing dashes with zeros. The code then aggregates the information from each month into a single DataFrame for the year 2015, which is saved as a CSV file.

In [10]:
tourists_by_country_dict = {}
for month, path in file_paths.items():
    tourists_by_country_dict[f'{month}'] = pd.read_excel(path, sheet_name='Sheet5', header=1)

for month, df in tourists_by_country_dict.items():
    df.rename(columns={
        df.columns[0]: 'zemlja_porijekla', 
        df.columns[1]: 'dolasci',
        df.columns[3]:'nocenja',},
        inplace= True)
    
    df.drop(columns=[df.columns[2], df.columns[4]],
            inplace=True)
    
    filt = (~df['zemlja_porijekla'].isin(['Strani turisti', 'Evropa', 'Vanevropske zemlje']))
    tourists_by_country_dict[month] = df[filt]
    tourists_by_country_dict[month] = tourists_by_country_dict[month].reset_index(drop=True)
    tourists_by_country_dict[month] = tourists_by_country_dict[month].fillna(0)
    tourists_by_country_dict[month] = tourists_by_country_dict[month].replace('-', 0)

In [11]:
df1 = tourists_by_country_dict['jan'].copy()
for key in file_paths:
    if key != 'jan':
        df1['dolasci'] = df1['dolasci'] + tourists_by_country_dict[key]['dolasci']
        df1['nocenja'] = df1['dolasci'] + tourists_by_country_dict[key]['nocenja']
tourists_by_country_2015 = df1.copy()

In [13]:
tourists_by_country_2015.head()

      zemlja_porijekla  dolasci  nocenja
0             Albanija    37547    45976
1             Austrija    17189    17427
2              Belgija    11213    11341
3          Bjelorusija    31940    32322
4  Bosna i Hercegovina   154017   162633

In [15]:
tourists_by_country_2015.to_csv('C:/Users/Ivan/Desktop/tourism_analysis/data/cleaned_data/final_data_country/tourists_by_country_2015.csv')