In [1]:
import pandas as pd
import numpy as np

<h1 align="center">Data Wrangling: Import and Cleaning(2014)</h1>

In [2]:
path = r'C:\Users\Ivan\Desktop\tourism_analysis\data\2014\ukupno_2014.xls'

<h3>Table 1: Tourists by Accommodation Type</h3>

In [17]:
df = pd.read_excel(path, sheet_name='Sheet3', header=6)

df.rename(columns={
    df.columns[0]: 'tip_smjestaja',
    df.columns[1]: 'dolasci_stranih_turista',
    df.columns[2]: 'dolasci_domacih_turista',
    df.columns[4]: 'nocenje_stranih_turista',
    df.columns[5]: 'nocenje_domacih_turista'},
    inplace=True)
#dropping unnecessary columns
df.drop(
columns=[
    df.columns[3],
    df.columns[6],
    df.columns[7],
],
inplace=True)

df= df[~df['tip_smjestaja'].isnull()]
df = df.reset_index(drop=True)
df = df.fillna(0)
df = df.replace('-', 0)
df.iloc[:, 1:] = df.iloc[:, 1:].apply(lambda x: x.astype('int') if x.dtype == 'float' else x)

C:\Users\Ivan\AppData\Local\Temp\ipykernel_12136\91822675.py:23: FutureWarning: In a future version, `df.iloc[:, i] = newvals` will attempt to set the values inplace instead of always setting a new array. To retain the old behavior, use either `df[df.columns[i]] = newvals` or, if columns are non-unique, `df.isetitem(i, newvals)`
  df.iloc[:, 1:] = df.iloc[:, 1:].apply(lambda x: x.astype('int') if x.dtype == 'float' else x)

In [27]:
tourists_by_acc_2014 = df.copy()
tourists_by_acc_2014 = tourists_by_acc_2014.drop(tourists_by_acc_2014.index[17:], axis=0)

In [29]:
tourists_by_acc_2014.to_csv(fr'C:\Users\Ivan\Desktop\tourism_analysis\data\cleaned_data\final_data_accomodation\tourists_by_accomodation_2014.csv')

<h3>Table 2: Tourists by Municipality</h3>

In [5]:
df = pd.read_excel(path, sheet_name='Sheet5', header=4)
df.rename(columns={
        df.columns[0]: 'opstina',
        df.columns[1]: 'dolasci_stranih_turista',
        df.columns[2]: 'dolasci_domacih_turista',
        df.columns[5]: 'nocenje_stranih_turista',
        df.columns[6]: 'nocenje_domacih_turista'},
        inplace=True
)
df.drop(labels=0, inplace=True)
df.drop(columns=[df.columns[3], df.columns[4], df.columns[7], df.columns[8]],
        inplace=True)

In [6]:
tourists_by_mun_2014 = df.copy()
tourists_by_mun_2014.head()

,opstina,dolasci_stranih_turista,dolasci_domacih_turista,nocenje_stranih_turista,nocenje_domacih_turista
1,Andrijevica,306,134,325,163
2,Bar,145841,11517,1163929,55914
3,Berane,1128,908,1548,1271
4,Bijelo Polje,2369,1824,4918,2751
5,Budva,697110,57457,4356139,313987

In [31]:
 tourists_by_mun_2014.to_csv(fr'C:\Users\Ivan\Desktop\tourism_analysis\data\cleaned_data\final_data_municipality\tourists_by_municipality_2014.csv', index=False)

<h3>Table 3: Tourists by Country</h3>

In [32]:
df = pd.read_excel(path, sheet_name='Sheet4', header=3)

In [33]:
df.rename(columns={
    df.columns[0]: 'zemlja_porijekla', 
    df.columns[1]: 'dolasci',
    df.columns[3]:'nocenja',},
    inplace= True)
    
df.drop(columns=[df.columns[2], df.columns[4]],
        inplace=True)
    
filt = (~df['zemlja_porijekla'].isin(['Strani turisti', 'Evropa', 'Vanevropske zemlje']))
df = df[filt]
df = df.reset_index(drop=True)

In [34]:
tourists_by_country_2014 = df.copy()
tourists_by_country_2014['dolasci'].sum()

1350297

In [11]:
tourists_by_country_2014.to_csv('C:/Users/Ivan/Desktop/tourism_analysis/data/cleaned_data/final_data_country/tourists_by_country_2014.csv')